from tkinter import *
from tkinter import messagebox
import tkinter  as tk 
from tkcalendar import DateEntry



# Tk sınıfını 'window'a atadık.
window = Tk()

# Pencere Başlığı
window.title("Şirket adı")
window.geometry("900x600")







# Hata mesajımızı bu Label'e yazdıracaz
L3 = Label(window)
L3.place(x=248,y=300)

def giris():
    
    # E1 ve E2 adlı Entry'e girilen değeri, get() fonksiyonuyla çekip sorguluyoruz. 
    if (E1.get() == str("admin")) and (E2.get() == str("1234")):
        L3['text'] = ("Giriş Başarılı...")
        messagebox.showinfo("Başlık", "Giriş Başarılı")
        print("başarılı")
        window2=Tk()
        window2.title("Şirket adı")
        window2.geometry("900x600")
        L11 = Label(window2, text="Müşteri adı")
        L11.place(x=75, y=85)
       

        E111 = Entry(window2, width=25)
        E111.place(x=77,y=125)

        cal=DateEntry(window2,selectmode='day')
        cal.grid(row=1,column=1,padx=25,pady=30)
        def my_upd(): # triggered on Button Click
            l1.config(text=cal.get_date()) # read and display date

        l1=tk.Label(window2,text='data',bg='yellow')  # Label to display date 
        l1.grid(row=1,column=3)

        b1=tk.Button(window2,text='Read', command=lambda:my_upd())
        b1.grid(row=1,column=2)
        
        
    

        window2.mainloop()



        
       
       

    else:
        L3['text'] = ("Hatalı Giriş !")
        messagebox.showerror("Hata Başlık", "Hatalı Giriş")

L1 = Label(window, text="Kullanıcı Adı")
L1.place(x=75, y=15)

E1 = Entry(window, width=25)
E1.place(x=77,y=45)

L2 = Label(window, text="Şifre")
L2.place(x=75, y=80)

E2 = Entry(window, textvariable=StringVar(),show='*', width=25)
E2.place(x=77, y=110)

bt = Button(window, text="Giriş Yap", padx="10",pady="5", command=giris)
bt.place(x=75,y=150)

window.mainloop()





